<div class="page-layout blank" id="adminforms-wrapper">

  <!-- form content/-->
  <div class="admin-content">
    <div class="admin-main-wrapper">
      <div class="admin-main-form mr-tb5  m-pad1">
        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <div fxFlex="60" fxLayoutAlign="center center" [fxLayout]="'row'" fxLayoutAlign.xs="center center" class="login-page pd-20">
            <div class="login-forms">
              <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                  <div fxFlex="100" fxLayoutAlign="center center">   
                     <h2>{{'LOGIN.LHEAD' | translate}}</h2>
                  </div>
              </div>
              <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                <div fxFlex="100" fxLayoutAlign="center center">   
                  <form class="admin-form login-forms" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="admin-main-form m-pad1 mr-b2">
                        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                            <div fxFlex="100" fxLayoutAlign="center center">
                               <div class="admin-form-controll pad-r10">
                                <mat-label>{{'LOGIN.email' | translate}}</mat-label>
                                  <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-icon matPrefix>email</mat-icon>
                                    <input name="email" matInput formControlName="email">

                                    <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                      <mat-error *ngIf="f.email.errors.required">{{'LOGIN.emailerror' | translate}}</mat-error>
                                      <mat-error *ngIf="f.email.errors.email">{{'LOGIN.validemail' | translate}}</mat-error>
                                  </mat-error>
                              
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="admin-main-form m-pad1 mr-b2">
                        <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                            <div fxFlex="100" fxLayoutAlign="center center">
                               <div class="admin-form-controll pad-r10">
                                <mat-label>{{'LOGIN.password' | translate}}</mat-label>
                               
                                  <mat-form-field appearance="outline">         
                                    <mat-icon matPrefix>https</mat-icon>                          
                                            <input type="password" matInput  
                                            formControlName="password" required>
                                             
                                  <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                      <mat-error *ngIf="f.password.errors.required">{{'LOGIN.validemail' | translate}}</mat-error>
                                      
                                  </mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="admin-main-form m-pad1 mr-b2">
                      <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                      <div fxFlex="100" fxLayoutAlign="center center">
                        <div class="admin-form-controll pad-r10">
                            <mat-checkbox >{{'LOGIN.remember' | translate}}</mat-checkbox>
                            <a routerLink="/auth/forgot-password">{{'LOGIN.forgotpassword'|translate}}</a>
                        </div>
                        </div>
                      </div>
                    </div>

                    <div class="admin-main-form m-pad1 mr-b2">
                      <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column">
                            <div fxFlex="100" fxLayoutAlign="center center">
                               <div class="admin-form-controll pad-r10">
                        <!--btn 3-->
                        <div *ngIf="submitted" fxLayout="row" fxLayoutAlign="center center">
                          <mat-spinner></mat-spinner>
                        </div>
                        <button *ngIf="!submitted" type="submit" mat-button class="user-button btngreen mr-br mr-r1">
                          
                          <div  fxLayout="row" class="cwhite font13" fxLayoutAlign="center center">
                             <mat-icon  class="s-16 mr-12">save</mat-icon>

                              <span class="username">{{'LOGIN.LBUTTON' | translate}}</span>
                          </div>
                         </button><!--btn 3/-->
                        </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div><!-- form content/-->
</div>



